.box-title {
  text-align: center;
}

.margin-top-veryHigh {
  margin-top: 12rem;
}
.margin-top-med {
  margin-top: 4rem;
}
.margin-top-sma {
  margin-top: 2rem;
}

.margin-bot-high {
  margin-bottom: 8rem;
}
.margin-bot-between {
  margin-bottom: 6rem;
}
.margin-bot-med {
  margin-bottom: 4rem;
}
.margin-bot-sma {
  margin-bottom: 2rem;
}
